.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;

  label {
    color: darkblue;
  }
  div {
    margin: 1em;
  }
}
