<div class="home-container">
  <div>
    <h2>
      Bienvenue sur le frontend du projet de résolution du problème de "Bao
      Loc".
    </h2>
  </div>

  <div>
    <label>Contexte:</label> Le tableau ci-dessous a été donné à des enfants de
    8 ans au Bao-Loc (Vietnam). Des mathématiciens européens chevronnés n'ont
    pas été en mesure de le résoudre.
  </div>

  <div>
    <label>Objectif:</label> Écrire un algorithme qui est capable de compléter
    le tableau ci-dessous en utilisant des chiffres de 1 à 9 avec la contrainte
    de ne pas pouvoir utiliser deux fois le même chiffre.
  </div>

  <img src="assets/images/baoloc_problem.png" />
</div>
