.process-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;

  div {
    margin: 1em;
  }

  .process-actions-container {
    min-width: 400px;

    mat-form-field, button, .permutations-container {
      width: 100%
    }
  }
}
