.process-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;

  div {
    margin: 1em;
  }

  .process-actions-container {
    min-width: 400px;
    width: 40vw;

    .sub-header {
      color: rgba(0,0,0,.54);
    }

    mat-form-field, button {
      width: 100%
    }

    .permutations-container  {
      mat-list {
        max-height: 35vh;
        overflow-y: auto;
      }
    }
  }
}
