<div class="process-container">
  <div>
    Le résultat attendu dans la formule initiale du problème de Bao Loc est
    <b>66</b>. Ici, vous pouvez afficher les permutations valides pour le
    résultat que vous aurez choisi. Ces permutations seront automatiquement
    stockées dans notre base de données, ou récupéréees de cette dernière, si
    elles ont déjà été calculées.
  </div>

  <div class="process-actions-container">
    <div>
      <mat-form-field hintLabel="Max 3 characters" appearance="fill">
        <mat-label>Enter a custom expected result: </mat-label>
        <input
          matInput
          #input
          type="number"
          maxlength="3"
          placeholder="Ex. 66"
          [value]="customResult"
        />
        <mat-hint align="end">{{ input.value?.length || 0 }}/3</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <button mat-flat-button [disabled]="!customResult" color="primary">
        Launch the algorithm resolver
      </button>
    </div>
  </div>

  <div *ngIf="result" class="results-container">
    <mat-list>
      <div mat-subheader>
        {{ result?.permutations?.length }} permutations valides:
      </div>
      <mat-list-item *ngFor="let perm of result?.permutations">
        <div mat-line>{{ perm.numbers }}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</div>
